services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  # app:
  #   build:
  #     dockerfile: Dockerfile
  #   depends_on:
  #     - db
  #   environment:
  #     DATABASE_URL: ${DATABASE_URL}
  #     API_KEY: ${API_KEY}
  #     R2_ENDPOINT_URL: ${R2_ENDPOINT_URL}
  #     R2_ACCESS_KEY_ID: ${R2_ACCESS_KEY_ID}
  #     R2_SECRET_ACCESS_KEY: ${R2_SECRET_ACCESS_KEY}
  #   ports:
  #     - "8000:8000"

volumes:
  db_data: {}
